:root, :host {
  --geist-space: 4px;
  --geist-space-2x: 8px;
  --geist-space-3x: 12px;
  --geist-space-4x: 16px;
  --geist-space-6x: 24px;
  --geist-space-8x: 32px;
  --geist-space-10x: 40px;
  --geist-space-16x: 64px;
  --geist-space-24x: 96px;
  --geist-space-32x: 128px;
  --geist-space-48x: 192px;
  --geist-space-64x: 256px;
  --geist-space-small: 32px;
  --geist-space-medium: 40px;
  --geist-space-large: 48px;
  --geist-space-gap: 24px;
  --geist-space-gap-half: 12px;
  --geist-space-gap-quarter: var(--geist-space-2x);
  --geist-gap: var(--geist-space-gap);
  --geist-gap-half: var(--geist-space-gap-half);
  --geist-gap-quarter: var(--geist-space-gap-quarter);
  --geist-gap-double: var(--geist-space-large);
  --geist-gap-section: var(--geist-space-small);
  --geist-space-negative: -4px;
  --geist-space-2x-negative: -8px;
  --geist-space-4x-negative: -16px;
  --geist-space-8x-negative: -32px;
  --geist-space-16x-negative: -64px;
  --geist-space-24x-negative: -96px;
  --geist-space-32x-negative: -128px;
  --geist-space-48x-negative: -192px;
  --geist-space-64x-negative: -256px;
  --geist-space-small-negative: -32px;
  --geist-space-medium-negative: -40px;
  --geist-space-large-negative: -48px;
  --geist-space-gap-negative: -24px;
  --geist-space-gap-half-negative: -12px;
  --geist-space-gap-quarter-negative: var(--geist-space-2x-negative);
  --geist-gap-negative: var(--geist-space-gap-negative);
  --geist-gap-half-negative: var(--geist-space-gap-half-negative);
  --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative);
  --geist-gap-double-negative: var(--geist-space-large-negative);
  --geist-page-margin: var(--geist-space-gap);
  --geist-page-width: 1200px;
  --geist-page-width-with-margin: calc(var(--geist-page-width) + calc(2 * var(--geist-page-margin)));
  --ds-page-width: 1400px;
  --ds-page-width-with-margin: calc(var(--ds-page-width) + calc(2 * var(--geist-page-margin)));
  --geist-radius: 6px;
  --geist-marketing-radius: 8px;
  --geist-text-gradient: linear-gradient(180deg, #000c 0%, #000 100%);
  --font-sans-fallback: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-mono-fallback: "Roboto Mono", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  --font-space-grotesk: Space Grotesk, var(--font-sans);
  --header-height: 64px;
  --header-zindex: 75;
  --header-border-bottom: 0 1px 0 0 #0000001a;
  --header-sub-menu-height: 46px;
  --header-import-flow-background: #fafafacc;
  --footer-height: 0px;
  --geist-form-large-font: 1rem;
  --geist-form-large-line-height: 1.5rem;
  --geist-form-large-height: var(--geist-space-large);
  --geist-form-small-font: .875rem;
  --geist-form-small-line-height: .875rem;
  --geist-form-small-height: var(--geist-space-small);
  --geist-form-font: .875rem;
  --geist-form-line-height: 1.25rem;
  --geist-form-height: var(--geist-space-medium);
  --ds-shadow-background-border: 0 0 0 1px var(--ds-background-200);
  --ds-shadow-border-base: 0 0 0 1px #00000014;
  --ds-shadow-border-inset: inset 0 0 0 1px #00000014;
  --ds-shadow-border: var(--ds-shadow-border-base), var(--ds-shadow-background-border);
  --ds-shadow-small: 0px 2px 2px #0000000a;
  --ds-shadow-border-small: var(--ds-shadow-border-base), var(--ds-shadow-small), var(--ds-shadow-background-border);
  --ds-shadow-medium: 0px 2px 2px #0000000a, 0px 8px 8px -8px #0000000a;
  --ds-shadow-border-medium: var(--ds-shadow-border-base), var(--ds-shadow-medium), var(--ds-shadow-background-border);
  --ds-shadow-large: 0px 2px 2px #0000000a, 0px 8px 16px -4px #0000000a;
  --ds-shadow-border-large: var(--ds-shadow-border-base), var(--ds-shadow-large), var(--ds-shadow-background-border);
  --ds-shadow-tooltip: var(--ds-shadow-border-base), 0px 1px 1px #00000005, 0px 4px 8px #0000000a, var(--ds-shadow-background-border);
  --ds-shadow-menu: var(--ds-shadow-border-base), 0px 1px 1px #00000005, 0px 4px 8px -4px #0000000a, 0px 16px 24px -8px #0000000f, var(--ds-shadow-background-border);
  --ds-shadow-modal: var(--ds-shadow-border-base), 0px 1px 1px #00000005, 0px 8px 16px -4px #0000000a, 0px 24px 32px -8px #0000000f, var(--ds-shadow-background-border);
  --ds-shadow-fullscreen: var(--ds-shadow-border-base), 0px 1px 1px #00000005, 0px 8px 16px -4px #0000000a, 0px 24px 32px -8px #0000000f, var(--ds-shadow-background-border);
  --ds-focus-ring: 0 0 0 2px var(--ds-background-100), 0 0 0 4px var(--ds-focus-color);
  --ds-focus-ring-outline: 2px solid var(--ds-focus-color);
  --ds-overlay-backdrop-color: var(--ds-background-200);
  --ds-overlay-backdrop-opacity: .8;
  --ds-motion-timing-swift: cubic-bezier(.175, .885, .32, 1.1);
  --ds-motion-overlay-scale: .96;
  --ds-motion-overlay-timing: var(--ds-motion-timing-swift);
  --ds-motion-overlay-duration: .3s;
  --ds-motion-popover-timing: var(--ds-motion-timing-swift);
  --ds-motion-popover-duration: .2s;
  font-size: 16px
}

@media screen and (max-width: 600px) {
  :root, :host {
    --header-height: 64px
  }

  .geist-center-on-mobile {
    text-align: center
  }

  .geist-hide-on-mobile {
    display: none !important
  }

  .geist-overflow-reset-mobile {
    overflow: initial !important;
    -webkit-overflow-scrolling: initial !important
  }
}


:root, :host, .dark .invert-theme, .dark-theme .invert-theme, .geist-disabled .geist-disabled-skip {
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;
  --geist-error-lighter: #f7d4d6;
  --geist-error-light: #ff1a1a;
  --geist-error: #e00;
  --geist-error-dark: #c50000;
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;
  --geist-violet-lighter: #d8ccf1;
  --geist-violet-light: #8a63d2;
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;
  --geist-violet-background: #fff;
  --geist-violet-background-secondary: #291c3a;
  --geist-violet-background-tertiary: #eae5f4;
  --geist-background-rgb: 255, 255, 255;
  --geist-foreground-rgb: 0, 0, 0;
  --geist-console-header: #efe7ed;
  --geist-console-purple: #7928ca;
  --geist-console-text-color-default: var(--geist-foreground);
  --geist-console-text-color-blue: #0070f3;
  --geist-console-text-color-pink: #eb367f;
  --geist-console-text-color-purple: #7928ca;
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;
  --geist-foreground: #000;
  --geist-background: #fff;
  --geist-selection: var(--ds-gray-1000);
  --geist-selection-text-color: var(--ds-gray-100);
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-link-color: var(--ds-blue-700);
  --geist-marketing-gray: #fafbfc;
  --geist-code: var(--geist-foreground);
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 #00000005;
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: #fff0;
  --shadow-smallest: 0px 2px 4px #0000001a;
  --shadow-extra-small: 0px 4px 8px #0000001f;
  --shadow-small: 0 5px 10px #0000001f;
  --shadow-medium: 0 8px 30px #0000001f;
  --shadow-large: 0 30px 60px #0000001f;
  --shadow-hover: 0 30px 60px #0000001f;
  --shadow-sticky: 0 12px 10px -10px #0000001f;
  --wv-green: #0cce6b;
  --wv-orange: #ffa400;
  --wv-red: #ff4e42;
  --develop-start-gradient: #007cf0;
  --develop-end-gradient: #00dfd8;
  --develop-line-end: #019ae9;
  --develop-text: #0a72ef;
  --preview-start-gradient: #7928ca;
  --preview-end-gradient: #ff0080;
  --preview-line-end: #9a1fb8;
  --preview-text: #de1d8d;
  --ship-start-gradient: #ff4d4d;
  --ship-end-gradient: #f9cb28;
  --ship-line-end: #f9cb28;
  --ship-text: #ff5b4f;
  --next-icon-border: #000
}


@media (color-gamut:p3) {
  @supports (color: oklch(0% 0 0)) {
    :root, :host, .dark .invert-theme, .dark-theme .invert-theme, .geist-disabled .geist-disabled-skip {
      --develop-start-gradient: oklch(59.59% .24 255.092);
      --develop-end-gradient: oklch(81.58% .189 190.74);
      --develop-line-end: oklch(65.84% .203 242.532);
      --develop-text: oklch(57.49% .249 257.84);
      --preview-start-gradient: oklch(49.07% .272 300.45);
      --preview-end-gradient: oklch(64.53% .292 2.47);
      --preview-line-end: oklch(51.39% .267 318.36);
      --preview-text: oklch(59.93% .274 352.55);
      --ship-start-gradient: oklch(67.3% .266 25.0397);
      --ship-end-gradient: oklch(85.82% .201 91.19);
      --ship-line-end: oklch(85.82% .201 91.19);
      --ship-text: oklch(68.79% .25 27.76)
    }
  }
}

:root, :host, .dark .invert-theme, .dark-theme .invert-theme {
  --ds-gray-100-value: 0, 0%, 95%;
  --ds-gray-200-value: 0, 0%, 92%;
  --ds-gray-300-value: 0, 0%, 90%;
  --ds-gray-400-value: 0, 0%, 92%;
  --ds-gray-500-value: 0, 0%, 79%;
  --ds-gray-600-value: 0, 0%, 66%;
  --ds-gray-700-value: 0, 0%, 56%;
  --ds-gray-800-value: 0, 0%, 49%;
  --ds-gray-900-value: 0, 0%, 30%;
  --ds-gray-1000-value: 0, 0%, 9%;
  --ds-blue-100-value: 212, 100%, 97%;
  --ds-blue-200-value: 210, 100%, 96%;
  --ds-blue-300-value: 210, 100%, 94%;
  --ds-blue-400-value: 209, 100%, 90%;
  --ds-blue-500-value: 209, 100%, 80%;
  --ds-blue-600-value: 208, 100%, 66%;
  --ds-blue-700-value: 212, 100%, 48%;
  --ds-blue-800-value: 212, 100%, 41%;
  --ds-blue-900-value: 211, 100%, 42%;
  --ds-blue-1000-value: 211, 100%, 15%;
  --ds-red-100-value: 0, 100%, 97%;
  --ds-red-200-value: 0, 100%, 96%;
  --ds-red-300-value: 0, 100%, 95%;
  --ds-red-400-value: 0, 90%, 92%;
  --ds-red-500-value: 0, 82%, 85%;
  --ds-red-600-value: 359, 90%, 71%;
  --ds-red-700-value: 358, 75%, 59%;
  --ds-red-800-value: 358, 70%, 52%;
  --ds-red-900-value: 358, 66%, 48%;
  --ds-red-1000-value: 355, 49%, 15%;
  --ds-amber-100-value: 39, 100%, 95%;
  --ds-amber-200-value: 44, 100%, 92%;
  --ds-amber-300-value: 43, 96%, 90%;
  --ds-amber-400-value: 42, 100%, 78%;
  --ds-amber-500-value: 38, 100%, 71%;
  --ds-amber-600-value: 36, 90%, 62%;
  --ds-amber-700-value: 39, 100%, 57%;
  --ds-amber-800-value: 35, 100%, 52%;
  --ds-amber-900-value: 30, 100%, 32%;
  --ds-amber-1000-value: 20, 79%, 17%;
  --ds-green-100-value: 120, 60%, 96%;
  --ds-green-200-value: 120, 60%, 95%;
  --ds-green-300-value: 120, 60%, 91%;
  --ds-green-400-value: 122, 60%, 86%;
  --ds-green-500-value: 124, 60%, 75%;
  --ds-green-600-value: 125, 60%, 64%;
  --ds-green-700-value: 131, 41%, 46%;
  --ds-green-800-value: 132, 43%, 39%;
  --ds-green-900-value: 133, 50%, 32%;
  --ds-green-1000-value: 128, 29%, 15%;
  --ds-teal-100-value: 169, 70%, 96%;
  --ds-teal-200-value: 167, 70%, 94%;
  --ds-teal-300-value: 168, 70%, 90%;
  --ds-teal-400-value: 170, 70%, 85%;
  --ds-teal-500-value: 170, 70%, 72%;
  --ds-teal-600-value: 170, 70%, 57%;
  --ds-teal-700-value: 173, 80%, 36%;
  --ds-teal-800-value: 173, 83%, 30%;
  --ds-teal-900-value: 174, 91%, 25%;
  --ds-teal-1000-value: 171, 80%, 13%;
  --ds-purple-100-value: 276, 100%, 97%;
  --ds-purple-200-value: 277, 87%, 97%;
  --ds-purple-300-value: 274, 78%, 95%;
  --ds-purple-400-value: 276, 71%, 92%;
  --ds-purple-500-value: 274, 70%, 82%;
  --ds-purple-600-value: 273, 72%, 73%;
  --ds-purple-700-value: 272, 51%, 54%;
  --ds-purple-800-value: 272, 47%, 45%;
  --ds-purple-900-value: 274, 71%, 43%;
  --ds-purple-1000-value: 276, 100%, 15%;
  --ds-pink-100-value: 330, 100%, 96%;
  --ds-pink-200-value: 340, 90%, 96%;
  --ds-pink-300-value: 340, 82%, 94%;
  --ds-pink-400-value: 341, 76%, 91%;
  --ds-pink-500-value: 340, 75%, 84%;
  --ds-pink-600-value: 341, 75%, 73%;
  --ds-pink-700-value: 336, 80%, 58%;
  --ds-pink-800-value: 336, 74%, 51%;
  --ds-pink-900-value: 336, 65%, 45%;
  --ds-pink-1000-value: 333, 74%, 15%;
  --ds-gray-alpha-100: #0000000d;
  --ds-gray-alpha-200: #00000015;
  --ds-gray-alpha-300: #0000001a;
  --ds-gray-alpha-400: #00000014;
  --ds-gray-alpha-500: #00000036;
  --ds-gray-alpha-600: #00000057;
  --ds-gray-alpha-700: #00000070;
  --ds-gray-alpha-800: #00000082;
  --ds-gray-alpha-900: #000000b3;
  --ds-gray-alpha-1000: #000000e8;
  --ds-background-100-value: 0, 0%, 100%;
  --ds-background-200-value: 0, 0%, 98%;
  --ds-contrast-fg: #fff;
  --ds-focus-border: 0 0 0 1px var(--ds-gray-alpha-600), 0px 0px 0px 4px #00000029;
  --ds-focus-color: var(--ds-blue-700);
  --vaul-overlay-background: 255, 255, 255;
  --vaul-overlay-background-start: #0000;
  --vaul-overlay-background-end: #0006
}

:root, :host, .dark, .dark-theme, .invert-theme {
  --ds-gray-100: hsla(var(--ds-gray-100-value), 1);
  --ds-gray-200: hsla(var(--ds-gray-200-value), 1);
  --ds-gray-300: hsla(var(--ds-gray-300-value), 1);
  --ds-gray-400: hsla(var(--ds-gray-400-value), 1);
  --ds-gray-500: hsla(var(--ds-gray-500-value), 1);
  --ds-gray-600: hsla(var(--ds-gray-600-value), 1);
  --ds-gray-700: hsla(var(--ds-gray-700-value), 1);
  --ds-gray-800: hsla(var(--ds-gray-800-value), 1);
  --ds-gray-900: hsla(var(--ds-gray-900-value), 1);
  --ds-gray-1000: hsla(var(--ds-gray-1000-value), 1);
  --ds-blue-100: hsla(var(--ds-blue-100-value), 1);
  --ds-blue-200: hsla(var(--ds-blue-200-value), 1);
  --ds-blue-300: hsla(var(--ds-blue-300-value), 1);
  --ds-blue-400: hsla(var(--ds-blue-400-value), 1);
  --ds-blue-500: hsla(var(--ds-blue-500-value), 1);
  --ds-blue-600: hsla(var(--ds-blue-600-value), 1);
  --ds-blue-700: hsla(var(--ds-blue-700-value), 1);
  --ds-blue-800: hsla(var(--ds-blue-800-value), 1);
  --ds-blue-900: hsla(var(--ds-blue-900-value), 1);
  --ds-blue-1000: hsla(var(--ds-blue-1000-value), 1);
  --ds-amber-100: hsla(var(--ds-amber-100-value), 1);
  --ds-amber-200: hsla(var(--ds-amber-200-value), 1);
  --ds-amber-300: hsla(var(--ds-amber-300-value), 1);
  --ds-amber-400: hsla(var(--ds-amber-400-value), 1);
  --ds-amber-500: hsla(var(--ds-amber-500-value), 1);
  --ds-amber-600: hsla(var(--ds-amber-600-value), 1);
  --ds-amber-700: hsla(var(--ds-amber-700-value), 1);
  --ds-amber-800: hsla(var(--ds-amber-800-value), 1);
  --ds-amber-900: hsla(var(--ds-amber-900-value), 1);
  --ds-amber-1000: hsla(var(--ds-amber-1000-value), 1);
  --ds-red-100: hsla(var(--ds-red-100-value), 1);
  --ds-red-200: hsla(var(--ds-red-200-value), 1);
  --ds-red-300: hsla(var(--ds-red-300-value), 1);
  --ds-red-400: hsla(var(--ds-red-400-value), 1);
  --ds-red-500: hsla(var(--ds-red-500-value), 1);
  --ds-red-600: hsla(var(--ds-red-600-value), 1);
  --ds-red-700: hsla(var(--ds-red-700-value), 1);
  --ds-red-800: hsla(var(--ds-red-800-value), 1);
  --ds-red-900: hsla(var(--ds-red-900-value), 1);
  --ds-red-1000: hsla(var(--ds-red-1000-value), 1);
  --ds-green-100: hsla(var(--ds-green-100-value), 1);
  --ds-green-200: hsla(var(--ds-green-200-value), 1);
  --ds-green-300: hsla(var(--ds-green-300-value), 1);
  --ds-green-400: hsla(var(--ds-green-400-value), 1);
  --ds-green-500: hsla(var(--ds-green-500-value), 1);
  --ds-green-600: hsla(var(--ds-green-600-value), 1);
  --ds-green-700: hsla(var(--ds-green-700-value), 1);
  --ds-green-800: hsla(var(--ds-green-800-value), 1);
  --ds-green-900: hsla(var(--ds-green-900-value), 1);
  --ds-green-1000: hsla(var(--ds-green-1000-value), 1);
  --ds-teal-100: hsla(var(--ds-teal-100-value), 1);
  --ds-teal-200: hsla(var(--ds-teal-200-value), 1);
  --ds-teal-300: hsla(var(--ds-teal-300-value), 1);
  --ds-teal-400: hsla(var(--ds-teal-400-value), 1);
  --ds-teal-500: hsla(var(--ds-teal-500-value), 1);
  --ds-teal-600: hsla(var(--ds-teal-600-value), 1);
  --ds-teal-700: hsla(var(--ds-teal-700-value), 1);
  --ds-teal-800: hsla(var(--ds-teal-800-value), 1);
  --ds-teal-900: hsla(var(--ds-teal-900-value), 1);
  --ds-teal-1000: hsla(var(--ds-teal-1000-value), 1);
  --ds-purple-100: hsla(var(--ds-purple-100-value), 1);
  --ds-purple-200: hsla(var(--ds-purple-200-value), 1);
  --ds-purple-300: hsla(var(--ds-purple-300-value), 1);
  --ds-purple-400: hsla(var(--ds-purple-400-value), 1);
  --ds-purple-500: hsla(var(--ds-purple-500-value), 1);
  --ds-purple-600: hsla(var(--ds-purple-600-value), 1);
  --ds-purple-700: hsla(var(--ds-purple-700-value), 1);
  --ds-purple-800: hsla(var(--ds-purple-800-value), 1);
  --ds-purple-900: hsla(var(--ds-purple-900-value), 1);
  --ds-purple-1000: hsla(var(--ds-purple-1000-value), 1);
  --ds-pink-100: hsla(var(--ds-pink-100-value), 1);
  --ds-pink-200: hsla(var(--ds-pink-200-value), 1);
  --ds-pink-300: hsla(var(--ds-pink-300-value), 1);
  --ds-pink-400: hsla(var(--ds-pink-400-value), 1);
  --ds-pink-500: hsla(var(--ds-pink-500-value), 1);
  --ds-pink-600: hsla(var(--ds-pink-600-value), 1);
  --ds-pink-700: hsla(var(--ds-pink-700-value), 1);
  --ds-pink-800: hsla(var(--ds-pink-800-value), 1);
  --ds-pink-900: hsla(var(--ds-pink-900-value), 1);
  --ds-pink-1000: hsla(var(--ds-pink-1000-value), 1);
  --ds-background-100: hsla(var(--ds-background-100-value), 1);
  --ds-background-200: hsla(var(--ds-background-200-value), 1)
}


@media (color-gamut:p3) {
  @supports (color: oklch(0 0 0)) {
    :root, :host, .dark .invert-theme, .dark-theme .invert-theme {
      --ds-blue-100: oklch(97.32% .0141 251.56);
      --ds-blue-200: oklch(96.29% .0195 250.59);
      --ds-blue-300: oklch(94.58% .0293 249.849);
      --ds-blue-400: oklch(91.58% .0473 245.116);
      --ds-blue-500: oklch(82.75% .0979 248.48);
      --ds-blue-600: oklch(73.08% .1583 248.133);
      --ds-blue-700: oklch(57.61% .2508 258.23);
      --ds-blue-800: oklch(51.51% .2399 257.85);
      --ds-blue-900: oklch(53.18% .2399 256.99);
      --ds-blue-1000: oklch(26.67% .1099 254.34);
      --ds-red-100: oklch(96.5% .0223 13.09);
      --ds-red-200: oklch(95.41% .0299 14.2526);
      --ds-red-300: oklch(94.33% .0369 15.0115);
      --ds-red-400: oklch(91.51% .0471 19.8);
      --ds-red-500: oklch(84.47% .1018 17.71);
      --ds-red-600: oklch(71.12% .1881 21.22);
      --ds-red-700: oklch(62.56% .2524 23.03);
      --ds-red-800: oklch(58.19% .2482 25.15);
      --ds-red-900: oklch(54.99% .232 25.29);
      --ds-red-1000: oklch(24.8% .1041 18.86);
      --ds-amber-100: oklch(97.48% .0331 85.79);
      --ds-amber-200: oklch(96.81% .0495 90.2423);
      --ds-amber-300: oklch(95.93% .0636 90.52);
      --ds-amber-400: oklch(91.02% .1322 88.25);
      --ds-amber-500: oklch(86.55% .1583 79.63);
      --ds-amber-600: oklch(80.25% .1953 73.59);
      --ds-amber-700: oklch(81.87% .1969 76.46);
      --ds-amber-800: oklch(77.21% .1991 64.28);
      --ds-amber-900: oklch(52.79% .1496 54.65);
      --ds-amber-1000: oklch(30.83% .099 45.48);
      --ds-green-100: oklch(97.59% .0289 145.42);
      --ds-green-200: oklch(96.92% .037 147.15);
      --ds-green-300: oklch(94.6% .0674 144.23);
      --ds-green-400: oklch(91.49% .0976 146.24);
      --ds-green-500: oklch(85.45% .1627 146.3);
      --ds-green-600: oklch(80.25% .214 145.18);
      --ds-green-700: oklch(64.58% .1746 147.27);
      --ds-green-800: oklch(57.81% .1507 147.5);
      --ds-green-900: oklch(51.75% .1453 147.65);
      --ds-green-1000: oklch(29.15% .1197 147.38);
      --ds-teal-100: oklch(97.72% .0359 186.7);
      --ds-teal-200: oklch(97.06% .0347 180.66);
      --ds-teal-300: oklch(94.92% .0478 182.07);
      --ds-teal-400: oklch(92.76% .0718 183.78);
      --ds-teal-500: oklch(86.88% .1344 182.42);
      --ds-teal-600: oklch(81.5% .161 178.96);
      --ds-teal-700: oklch(64.92% .1572 181.95);
      --ds-teal-800: oklch(57.53% .1392 181.66);
      --ds-teal-900: oklch(52.08% .1251 182.93);
      --ds-teal-1000: oklch(32.11% .0788 179.82);
      --ds-purple-100: oklch(96.65% .0244 312.189);
      --ds-purple-200: oklch(96.73% .0228 309.8);
      --ds-purple-300: oklch(94.85% .0364 310.15);
      --ds-purple-400: oklch(91.77% .0614 312.82);
      --ds-purple-500: oklch(81.26% .1409 310.8);
      --ds-purple-600: oklch(72.07% .2083 308.19);
      --ds-purple-700: oklch(55.5% .3008 306.12);
      --ds-purple-800: oklch(48.58% .2638 305.73);
      --ds-purple-900: oklch(47.18% .2579 304);
      --ds-purple-1000: oklch(23.96% .13 305.66);
      --ds-pink-100: oklch(95.69% .0359 344.622);
      --ds-pink-200: oklch(95.71% .0321 353.14);
      --ds-pink-300: oklch(93.83% .0451 356.29);
      --ds-pink-400: oklch(91.12% .0573 358.82);
      --ds-pink-500: oklch(84.28% .0915 356.99);
      --ds-pink-600: oklch(74.33% .1547 .24);
      --ds-pink-700: oklch(63.52% .238 1.01);
      --ds-pink-800: oklch(59.51% .2339 4.21);
      --ds-pink-900: oklch(53.5% .2058 2.84);
      --ds-pink-1000: oklch(26% .0977 359)
    }

    .dark, .dark-theme, .invert-theme {
      --ds-blue-100: oklch(22.17% .069 259.89);
      --ds-blue-200: oklch(25.45% .0811 255.8);
      --ds-blue-300: oklch(30.86% .1022 255.21);
      --ds-blue-400: oklch(34.1% .121 254.74);
      --ds-blue-500: oklch(38.5% .1403 254.4);
      --ds-blue-600: oklch(64.94% .1982 251.813);
      --ds-blue-700: oklch(57.61% .2321 258.23);
      --ds-blue-800: oklch(51.51% .2307 257.85);
      --ds-blue-900: oklch(71.7% .1648 250.794);
      --ds-blue-1000: oklch(96.75% .0179 242.423);
      --ds-red-100: oklch(22.1% .0657 15.11);
      --ds-red-200: oklch(25.93% .0834 19.02);
      --ds-red-300: oklch(31.47% .1105 20.96);
      --ds-red-400: oklch(35.27% .1273 21.23);
      --ds-red-500: oklch(40.68% .1479 23.16);
      --ds-red-600: oklch(62.56% .2277 23.03);
      --ds-red-700: oklch(62.56% .2234 23.03);
      --ds-red-800: oklch(58.01% .227 25.12);
      --ds-red-900: oklch(69.96% .2136 22.03);
      --ds-red-1000: oklch(95.6% .0293 6.61);
      --ds-amber-100: oklch(22.46% .0538 76.04);
      --ds-amber-200: oklch(24.95% .0642 64.78);
      --ds-amber-300: oklch(32.34% .0837 63.83);
      --ds-amber-400: oklch(35.53% .0903 66.2971);
      --ds-amber-500: oklch(41.55% .1044 67.98);
      --ds-amber-600: oklch(75.04% .1737 74.49);
      --ds-amber-700: oklch(81.87% .1969 76.46);
      --ds-amber-800: oklch(77.21% .1991 64.28);
      --ds-amber-900: oklch(77.21% .1991 64.28);
      --ds-amber-1000: oklch(96.7% .0418 84.59);
      --ds-green-100: oklch(23.09% .0716 149.68);
      --ds-green-200: oklch(27.12% .0895 150.09);
      --ds-green-300: oklch(29.84% .096 149.25);
      --ds-green-400: oklch(34.39% .1039 147.78);
      --ds-green-500: oklch(44.19% .1484 147.2);
      --ds-green-600: oklch(58.11% .1815 146.55);
      --ds-green-700: oklch(64.58% .199 147.27);
      --ds-green-800: oklch(57.81% .1776 147.5);
      --ds-green-900: oklch(73.1% .2158 148.29);
      --ds-green-1000: oklch(96.76% .056 154.18);
      --ds-teal-100: oklch(22.1% .0544 178.74);
      --ds-teal-200: oklch(25.06% .062 178.76);
      --ds-teal-300: oklch(31.5% .0767 180.99);
      --ds-teal-400: oklch(32.43% .0763 180.13);
      --ds-teal-500: oklch(43.35% .1055 180.97);
      --ds-teal-600: oklch(60.71% .1485 180.24);
      --ds-teal-700: oklch(64.92% .1403 181.95);
      --ds-teal-800: oklch(57.53% .1392 181.66);
      --ds-teal-900: oklch(74.56% .1765 182.8);
      --ds-teal-1000: oklch(96.46% .056 180.29);
      --ds-purple-100: oklch(22.34% .0779 316.87);
      --ds-purple-200: oklch(25.91% .0921 314.41);
      --ds-purple-300: oklch(31.98% .1219 312.41);
      --ds-purple-400: oklch(35.93% .1504 309.78);
      --ds-purple-500: oklch(40.99% .1721 307.92);
      --ds-purple-600: oklch(55.5% .2191 306.12);
      --ds-purple-700: oklch(55.5% .2186 306.12);
      --ds-purple-800: oklch(48.58% .2102 305.73);
      --ds-purple-900: oklch(69.87% .2037 309.51);
      --ds-purple-1000: oklch(96.1% .0304 316.46);
      --ds-pink-100: oklch(22.67% .0628 354.73);
      --ds-pink-200: oklch(26.2% .0859 356.68);
      --ds-pink-300: oklch(31.15% .1067 355.93);
      --ds-pink-400: oklch(32.13% .1174 356.71);
      --ds-pink-500: oklch(37.01% .1453 358.39);
      --ds-pink-600: oklch(50.33% .2089 4.33);
      --ds-pink-700: oklch(63.52% .2346 1.01);
      --ds-pink-800: oklch(59.51% .2429 4.21);
      --ds-pink-900: oklch(69.36% .2223 3.91);
      --ds-pink-1000: oklch(95.74% .0326 350.08)
    }
  }
}

html:not(.dark-theme) .geist-themed.geist-error-fill.geist-error-contrast {
  --themed-fg: var(--geist-error-dark);
  --themed-bg: var(--geist-error-lighter);
  --themed-border: var(--geist-error)
}

html:not(.dark-theme) .geist-themed.geist-error-fill.geist-error-contrast {
  --themed-fg: var(--geist-error-dark);
  --themed-bg: var(--geist-error-lighter);
  --themed-border: var(--geist-error)
}

html:not(.dark-theme) .geist-new-themed.geist-new-success-fill.geist-new-success-contrast {
  --themed-fg: var(--geist-success-dark);
  --themed-bg: var(--geist-success-lighter);
  --themed-border: var(--geist-success)
}

html:not(.dark-theme) .geist-new-themed.geist-new-error-fill {
  --themed-fg: #f5f5f5;
  --themed-hover-bg: #ae292f;
  --themed-press-bg: #7c1316;
  --themed-focus-ring: #7c1316
}

html:not(.dark-theme) .geist-new-themed.geist-new-error-fill.geist-new-error-contrast {
  --themed-fg: var(--geist-error-dark);
  --themed-bg: var(--geist-error-lighter);
  --themed-border: var(--geist-error)
}

.light-theme [data-theme=dark], .dark-theme [data-theme=light] {
  display: none
}

[aria-label=Hello\ world] {
  margin: 0 !important
}

p>code, li>code {
  background: var(--ds-gray-100);
  white-space: nowrap;
  border-radius: .375rem;
  padding: 2px 3.6px;
  border: 1px solid var(--ds-gray-300) !important;
  font-size: .857143em !important
}

h1, h2, h3, p {
  margin: 0
}

/* 
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/GeistMono1.woff2)format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/GeistMono2.woff2)format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/GeistMono3.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}


@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Geist1.woff2)format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Geist2.woff2)format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Geist3.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
} */
